---
layout: default
title: "Main Page"
---
<div class="h-full w-full fixed top-0 -z-10" style="background-color: #171717;
opacity: 1;
background-image:  radial-gradient(#926c00 3px, transparent 3px), radial-gradient(#926c00 3px, #171717 3px);
background-size: 80px 80px;
background-position: 0 0,40px 40px;"></div>
<div class="container mx-auto">
    <div class="flex flex-row flex-wrap py-4">
        <main role="main" class="flex-auto">            
            <div class="mx-auto flex flex-col items-center justify-center">
                <div class="relative rounded-lg bg-gradient-to-tl bg-cover from-black container mx-auto flex flex-col items-center shadow-xl py-20"
                    style="background-image: url('assets/img/campfire.webp')">
                    <div class="w-11/12 sm:w-2/3 m-10">
                        <img class="mx-auto justify-self-center" src="assets/img/icon/strandedlogo.webp">
                        <h1
                            class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center text-white font-boogaloo text-shadow leading-tight">
                            Five Strangers, One Goal.</h1>
                    </div>
                    <div class="flex justify-center items-center">
                        <a href="stranded.html">
                            <button
                                class="text-green-400 bg-gray-200/75 hover:bg-green-500 lg:text-2xl hover:border-green-500 hover:text-white transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-indigo-700 focus:ring-white hover:bg-indigo-700-800 rounded border border-white px-4 sm:px-8 py-1 sm:py-3 text-md font-boogaloo text-shadow">>
                                Main Page</button>
                        </a>
                    </div>
                </div>
                <div
                    class="mt-8 relative rounded-lg bg-gradient-to-tl bg-cover from-black container mx-auto flex flex-col items-center shadow-xl py-20">
                    <div class="w-11/12 sm:w-2/3 m-10">
                        <h1
                            class="text-4xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center text-white first-line:text-shadow leading-tight">
                            WISH DINER</h1>
                        <h1
                            class="text-2xl sm:text-2xl md:text-2xl lg:text-3xl xl:text-4xl text-center text-white text-shadow leading-tight">
                            Everything has a price.</h1>
                    </div>
                    <div class="flex justify-center items-center mb-10 sm:mb-20">
                        <a href="construction.html">
                        <button
                            class="text-green-400 bg-gray-200/75 hover:bg-green-500 lg:text-2xl hover:border-green-500 hover:text-white transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-indigo-700 focus:ring-white hover:bg-indigo-700-800 rounded border border-white px-4 sm:px-8 py-1 sm:py-3 text-md text-shadow">>
                            Learn More</button>
                        </a>
                    </div>
                </div>
        </main>
        <!-- sidebar -->
        <aside class="flex-auto px-2 font-boogaloo">
            <div class="p-4 w-full rounded bg-gray-100/80">
                <!-- Posts -->
                <div class="w-full h-12 flex">
                    <image class="flex-none" src="assets/img/emotes/dum.webp"></image>
                    <h1 class="self-center place-self-center text-xl lg:text-2xl">New Posts</h1>
                </div>
                <ul class="flex flex-col overflow-hidden">
                    {% for post in site.posts %}
                        <li class="pb-1">
                        <a href="{{ post.url }}">
                            <div class="relative w-full rounded-lg h-12 bg-blue-100/80 hover:bg-blue-200 transition duration-250">
                                {% if post.tags.first == "stranded" %}
                                    <span class="absolute bottom-1 right-0 bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">STRANDED</span>
                                {% elsif post.tags.first == "admin" %}
                                <span class="absolute bottom-1 right-0 bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">ADMIN</span>
                                {% endif %}
                                <h2 class="px-2.5 py-2.5 align-middle text-lg lg:text-xl text-gray-800">{{ post.title }}</h2>
                            </div></a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </aside>
    </div>
</div>
</div>