div#amplitude-player {
    box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.1);
    }
  
  div#amplitude-right {
    overflow-y: scroll;
}
    div#amplitude-right div.song {
      cursor: pointer;
      padding: 10px; }
      div#amplitude-right div.song div.song-now-playing-icon-container {
        float: left;
        width: 20px;
        height: 20px;
        margin-right: 10px; }
        div#amplitude-right div.song div.song-now-playing-icon-container img.now-playing {
          display: none;}
      div#amplitude-right div.song div.play-button-container {
        display: none;
        background: url("/assets/img/player/list-play-light.webp") no-repeat;
        width: 22px;
        height: 22px; }
      div#amplitude-right div.song div.play-button-container:hover {
        background: url("/assets/img/player/list-play-hover.webp") no-repeat; 
      }
      div#amplitude-right div.song.amplitude-active-song-container div.song-now-playing-icon-container img.now-playing {
        display: block; }
      div#amplitude-right div.song.amplitude-active-song-container:hover div.play-button-container {
        display: none; }
      div#amplitude-right div.song div.song-meta-data {
        float: left;
        width: calc( 100% - 110px ); }
      div#amplitude-right div.song span.song-duration {
        float: left;
        width: 55px;
        text-align: center;
        line-height: 45px;
        color: #607D8B;
        font-size: 16px;
        font-weight: 500; }
    div#amplitude-right div.song:after {
      content: "";
      display: table;
      clear: both; }
  
  /* Small only */
  @media screen and (max-width: 39.9375em) {
    div#amplitude-player div#amplitude-right {
      width: 100%; } }
  div#progress-container {
    width: 70%;
    float: left;
    position: relative;
    height: 20px;
    cursor: pointer;
    /*
      IE 11
    */ }
    div#progress-container:hover input[type=range].amplitude-song-slider::-webkit-slider-thumb {
      display: block; }
    div#progress-container:hover input[type=range].amplitude-song-slider::-moz-range-thumb {
      visibility: visible; }
    div#progress-container progress#song-played-progress {
      width: 100%;
      position: absolute;
      left: 0;
      top: 8px;
      right: 0;
      width: 100%;
      z-index: 60;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 4px;
      border-radius: 5px;
      background: transparent;
      border: none;
      /* Needed for Firefox */ }
    @media all and (-ms-high-contrast: none) {
      div#progress-container *::-ms-backdrop, div#progress-container progress#song-played-progress {
        color: #00A0FF;
        border: none;
        background-color: #CFD8DC; } }
    @supports (-ms-ime-align: auto) {
      div#progress-container progress#song-played-progress {
        color: #00A0FF;
        border: none; } }
    div#progress-container progress#song-played-progress[value]::-webkit-progress-bar {
      background: none;
      border-radius: 5px; }
    div#progress-container progress#song-played-progress[value]::-webkit-progress-value {
      background-color: #00A0FF;
      border-radius: 5px; }
    div#progress-container progress#song-played-progress::-moz-progress-bar {
      background: none;
      border-radius: 5px;
      background-color: #00A0FF;
      height: 5px;
      margin-top: -2px; }
    div#progress-container progress#song-buffered-progress {
      position: absolute;
      left: 0;
      top: 8px;
      right: 0;
      width: 100%;
      z-index: 10;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 4px;
      border-radius: 5px;
      background: transparent;
      border: none;
      background-color: #D7DEE3; }
    div#progress-container progress#song-buffered-progress[value]::-webkit-progress-bar {
      background-color: #CFD8DC;
      border-radius: 5px; }
    div#progress-container progress#song-buffered-progress[value]::-webkit-progress-value {
      background-color: #78909C;
      border-radius: 5px;
      transition: width .1s ease; }
    div#progress-container progress#song-buffered-progress::-moz-progress-bar {
      background: none;
      border-radius: 5px;
      background-color: #78909C;
      height: 5px;
      margin-top: -2px; }
    div#progress-container progress::-ms-fill {
      border: none; }
  @-moz-document url-prefix() {
    div#progress-container progress#song-buffered-progress {
      top: 9px;
      border: none; } }
    @media all and (-ms-high-contrast: none) {
      div#progress-container *::-ms-backdrop, div#progress-container progress#song-buffered-progress {
        color: #78909C;
        border: none; } }
    @supports (-ms-ime-align: auto) {
      div#progress-container progress#song-buffered-progress {
        color: #78909C;
        border: none; } }
    div#progress-container input[type=range] {
      -webkit-appearance: none;
      width: 100%;
      margin: 7.5px 0;
      position: absolute;
      z-index: 9999;
      top: -7px;
      height: 20px;
      cursor: pointer;
      background-color: inherit; }
    div#progress-container input[type=range]:focus {
      outline: none; }
    div#progress-container input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 0px;
      cursor: pointer;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      background: #0075a9;
      border-radius: 0px;
      border: 0px solid #010101; }
    div#progress-container input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #00a0ff;
      border-radius: 16px;
      background: #00a0ff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7.5px; }
    div#progress-container input[type=range]:focus::-webkit-slider-runnable-track {
      background: #00adfb; }
    div#progress-container input[type=range]::-moz-range-track {
      width: 100%;
      height: 0px;
      cursor: pointer;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      background: #0075a9;
      border-radius: 0px;
      border: 0px solid #010101; }
    div#progress-container input[type=range]::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #00a0ff;
      border-radius: 16px;
      background: #00a0ff;
      cursor: pointer; }
    div#progress-container input[type=range]::-ms-track {
      width: 100%;
      height: 0px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    div#progress-container input[type=range]::-ms-fill-lower {
      background: #003d57;
      border: 0px solid #010101;
      border-radius: 0px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); }
    div#progress-container input[type=range]::-ms-fill-upper {
      background: #0075a9;
      border: 0px solid #010101;
      border-radius: 0px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); }
    div#progress-container input[type=range]::-ms-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #00a0ff;
      border-radius: 16px;
      background: #00a0ff;
      cursor: pointer;
      height: 0px;
      display: block; }
    @media all and (-ms-high-contrast: none) {
      div#progress-container *::-ms-backdrop, div#progress-container input[type="range"].amplitude-song-slider {
        padding: 0px; }
      div#progress-container *::-ms-backdrop, div#progress-container input[type=range].amplitude-song-slider::-ms-thumb {
        border-radius: 10px;
        cursor: pointer;
        margin-top: -8px; }
      div#progress-container *::-ms-backdrop, div#progress-container input[type=range].amplitude-song-slider::-ms-track {
        border-color: transparent; }
      div#progress-container *::-ms-backdrop, div#progress-container input[type=range].amplitude-song-slider::-ms-fill-lower {
        background: #CFD8DC;
        border-radius: 10px; }
      div#progress-container *::-ms-backdrop, div#progress-container input[type=range].amplitude-song-slider::-ms-fill-upper {
        background: #CFD8DC;
        border-radius: 10px; } }
    div#progress-container input[type=range]:focus::-ms-fill-lower {
      background: #0075a9; }
    div#progress-container input[type=range]:focus::-ms-fill-upper {
      background: #00adfb; }
  
  div#control-container {
    margin-top: 25px;
    margin-top: 20px; }
    div#control-container div#repeat-container {
      width: 25%;
      float: left;
      padding-top: 20px; }
      div#control-container div#repeat-container div#repeat {
        width: 24px;
        height: 19px;
        cursor: pointer; }
        div#control-container div#repeat-container div#repeat.amplitude-repeat-off {
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='24px' height='19px' viewBox='0 0 24 19' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EFill 39%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-427.000000, -792.000000)' fill='%23607D8B'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 359.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 357.000000)'%3E%3Cpath d='M75.9215,83.2656 C75.717875,83.4746 75.436625,83.6 75.126125,83.6 C74.50475,83.6 74.0015,83.0908 74.0015,82.46 C74.0015,82.1446 74.127125,81.8596 74.33075,81.6544 L75.035,80.94 L65.75,80.94 C63.264875,80.94 61.25,82.9806 61.25,85.5 L61.25,88.16 C61.25,88.7908 60.746375,89.3 60.125,89.3 C59.504,89.3 59,88.7908 59,88.16 L59,85.5 C59,81.7228 62.022125,78.66 65.75,78.66 L75.033125,78.66 L74.33075,77.9456 C74.127125,77.7404 74.0015,77.4554 74.0015,77.14 C74.0015,76.5092 74.50475,76 75.126125,76 C75.436625,76 75.717875,76.1292 75.9215,76.3344 L78.54575,78.9944 C78.749375,79.1996 78.875,79.4846 78.875,79.8 C78.875,80.1154 78.749375,80.4004 78.54575,80.6056 L75.9215,83.2656 L75.9215,83.2656 Z M76.25,92.34 L66.96725,92.34 L67.669625,93.0544 C67.872875,93.2596 67.998875,93.5446 67.998875,93.86 C67.998875,94.4908 67.49525,95 66.87425,95 C66.56375,95 66.2825,94.8708 66.078875,94.6656 L63.454625,92.0056 C63.251,91.8004 63.125,91.5154 63.125,91.2 C63.125,90.8846 63.251,90.5996 63.454625,90.3944 L66.078875,87.7344 C66.2825,87.5254 66.56375,87.4 66.87425,87.4 C67.49525,87.4 67.998875,87.9092 67.998875,88.54 C67.998875,88.8554 67.872875,89.1404 67.669625,89.3456 L66.965375,90.06 L76.25,90.06 C78.7355,90.06 80.75,88.0194 80.75,85.5 L80.75,82.84 C80.75,82.2092 81.253625,81.7 81.875,81.7 C82.496375,81.7 83,82.2092 83,82.84 L83,85.5 C83,89.2772 79.97825,92.34 76.25,92.34 L76.25,92.34 Z' id='Fill-39'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
        div#control-container div#repeat-container div#repeat.amplitude-repeat-on {
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='24px' height='19px' viewBox='0 0 24 19' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EFill 39%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-427.000000, -792.000000)' fill='%2300A0FF'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 359.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 357.000000)'%3E%3Cpath d='M75.9215,83.2656 C75.717875,83.4746 75.436625,83.6 75.126125,83.6 C74.50475,83.6 74.0015,83.0908 74.0015,82.46 C74.0015,82.1446 74.127125,81.8596 74.33075,81.6544 L75.035,80.94 L65.75,80.94 C63.264875,80.94 61.25,82.9806 61.25,85.5 L61.25,88.16 C61.25,88.7908 60.746375,89.3 60.125,89.3 C59.504,89.3 59,88.7908 59,88.16 L59,85.5 C59,81.7228 62.022125,78.66 65.75,78.66 L75.033125,78.66 L74.33075,77.9456 C74.127125,77.7404 74.0015,77.4554 74.0015,77.14 C74.0015,76.5092 74.50475,76 75.126125,76 C75.436625,76 75.717875,76.1292 75.9215,76.3344 L78.54575,78.9944 C78.749375,79.1996 78.875,79.4846 78.875,79.8 C78.875,80.1154 78.749375,80.4004 78.54575,80.6056 L75.9215,83.2656 L75.9215,83.2656 Z M76.25,92.34 L66.96725,92.34 L67.669625,93.0544 C67.872875,93.2596 67.998875,93.5446 67.998875,93.86 C67.998875,94.4908 67.49525,95 66.87425,95 C66.56375,95 66.2825,94.8708 66.078875,94.6656 L63.454625,92.0056 C63.251,91.8004 63.125,91.5154 63.125,91.2 C63.125,90.8846 63.251,90.5996 63.454625,90.3944 L66.078875,87.7344 C66.2825,87.5254 66.56375,87.4 66.87425,87.4 C67.49525,87.4 67.998875,87.9092 67.998875,88.54 C67.998875,88.8554 67.872875,89.1404 67.669625,89.3456 L66.965375,90.06 L76.25,90.06 C78.7355,90.06 80.75,88.0194 80.75,85.5 L80.75,82.84 C80.75,82.2092 81.253625,81.7 81.875,81.7 C82.496375,81.7 83,82.2092 83,82.84 L83,85.5 C83,89.2772 79.97825,92.34 76.25,92.34 L76.25,92.34 Z' id='Fill-39'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
      div#control-container div#repeat-container div#shuffle {
        width: 23px;
        height: 19px;
        cursor: pointer;
        float: right; }
        div#control-container div#repeat-container div#shuffle.amplitude-shuffle-off {
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='23px' height='20px' viewBox='0 0 23 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EFill 83%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-637.000000, -792.000000)' fill='%23607D8B'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 359.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 357.000000)'%3E%3Cpath d='M285.614425,90.5505102 L287.682829,90.5505102 L287.682829,90.5468557 L288.319842,90.5468557 L287.645104,89.863455 C287.450012,89.6624548 287.329293,89.3883637 287.329293,89.0850361 C287.329293,88.4820355 287.811813,87.9886714 288.407148,87.9886714 C288.704636,87.9886714 288.9741,88.1129261 289.169192,88.3102717 L291.684188,90.868456 C291.87928,91.0694562 292,91.3435473 292,91.6432204 C292,91.9465479 291.87928,92.2206391 291.684188,92.4216393 L289.169192,94.9798235 C288.9741,95.1771692 288.704636,95.2977693 288.407148,95.2977693 C287.811813,95.2977693 287.329293,94.8080597 287.329293,94.2014046 C287.329293,93.9017316 287.450012,93.6276404 287.645104,93.4266402 L288.318045,92.7432396 L285.167833,92.7432396 C284.870345,92.7432396 284.600881,92.6189849 284.405789,92.4216393 L280.181673,88.1238897 L281.705761,86.574361 L285.614425,90.5505102 L285.614425,90.5505102 Z M277.132779,85.0248322 L273.224475,81.0486829 L270.077856,81.0486829 C269.482879,81.0486829 269,80.5589734 269,79.9523183 C269,79.3456631 269.482879,78.8559536 270.077856,78.8559536 L273.670707,78.8559536 C273.968555,78.8559536 274.238019,78.9802082 274.43311,79.1775539 L278.657226,83.4753034 L277.132779,85.0248322 L277.132779,85.0248322 Z M289.169192,83.2889215 C288.9741,83.4862671 288.704636,83.6068672 288.407148,83.6068672 C287.811813,83.6068672 287.329293,83.1171577 287.329293,82.5105025 C287.329293,82.2108295 287.450012,81.9367383 287.645104,81.7357381 L288.319842,81.0486829 L285.614425,81.0486829 L274.43311,92.4216393 C274.238019,92.6189849 273.968555,92.7432396 273.670707,92.7432396 L270.077856,92.7432396 C269.482879,92.7432396 269,92.25353 269,91.6468749 C269,91.0402198 269.482879,90.5505102 270.077856,90.5505102 L273.224475,90.5505102 L284.405789,79.1775539 C284.600881,78.9802082 284.870345,78.8559536 285.167833,78.8559536 L288.318045,78.8559536 L287.645104,78.1725529 C287.450012,77.9715527 287.329293,77.6974616 287.329293,77.394134 C287.329293,76.7911334 287.811813,76.2977693 288.407148,76.2977693 C288.704636,76.2977693 288.9741,76.422024 289.169192,76.6193696 L291.684188,79.1775539 C291.87928,79.3785541 292,79.6526452 292,79.9523183 C292,80.2556458 291.87928,80.529737 291.684188,80.7307372 L289.169192,83.2889215 L289.169192,83.2889215 Z' id='Fill-83'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
        div#control-container div#repeat-container div#shuffle.amplitude-shuffle-on {
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='23px' height='20px' viewBox='0 0 23 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EFill 83%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-637.000000, -792.000000)' fill='%2300A0FF'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 359.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 357.000000)'%3E%3Cpath d='M285.614425,90.5505102 L287.682829,90.5505102 L287.682829,90.5468557 L288.319842,90.5468557 L287.645104,89.863455 C287.450012,89.6624548 287.329293,89.3883637 287.329293,89.0850361 C287.329293,88.4820355 287.811813,87.9886714 288.407148,87.9886714 C288.704636,87.9886714 288.9741,88.1129261 289.169192,88.3102717 L291.684188,90.868456 C291.87928,91.0694562 292,91.3435473 292,91.6432204 C292,91.9465479 291.87928,92.2206391 291.684188,92.4216393 L289.169192,94.9798235 C288.9741,95.1771692 288.704636,95.2977693 288.407148,95.2977693 C287.811813,95.2977693 287.329293,94.8080597 287.329293,94.2014046 C287.329293,93.9017316 287.450012,93.6276404 287.645104,93.4266402 L288.318045,92.7432396 L285.167833,92.7432396 C284.870345,92.7432396 284.600881,92.6189849 284.405789,92.4216393 L280.181673,88.1238897 L281.705761,86.574361 L285.614425,90.5505102 L285.614425,90.5505102 Z M277.132779,85.0248322 L273.224475,81.0486829 L270.077856,81.0486829 C269.482879,81.0486829 269,80.5589734 269,79.9523183 C269,79.3456631 269.482879,78.8559536 270.077856,78.8559536 L273.670707,78.8559536 C273.968555,78.8559536 274.238019,78.9802082 274.43311,79.1775539 L278.657226,83.4753034 L277.132779,85.0248322 L277.132779,85.0248322 Z M289.169192,83.2889215 C288.9741,83.4862671 288.704636,83.6068672 288.407148,83.6068672 C287.811813,83.6068672 287.329293,83.1171577 287.329293,82.5105025 C287.329293,82.2108295 287.450012,81.9367383 287.645104,81.7357381 L288.319842,81.0486829 L285.614425,81.0486829 L274.43311,92.4216393 C274.238019,92.6189849 273.968555,92.7432396 273.670707,92.7432396 L270.077856,92.7432396 C269.482879,92.7432396 269,92.25353 269,91.6468749 C269,91.0402198 269.482879,90.5505102 270.077856,90.5505102 L273.224475,90.5505102 L284.405789,79.1775539 C284.600881,78.9802082 284.870345,78.8559536 285.167833,78.8559536 L288.318045,78.8559536 L287.645104,78.1725529 C287.450012,77.9715527 287.329293,77.6974616 287.329293,77.394134 C287.329293,76.7911334 287.811813,76.2977693 288.407148,76.2977693 C288.704636,76.2977693 288.9741,76.422024 289.169192,76.6193696 L291.684188,79.1775539 C291.87928,79.3785541 292,79.6526452 292,79.9523183 C292,80.2556458 291.87928,80.529737 291.684188,80.7307372 L289.169192,83.2889215 L289.169192,83.2889215 Z' id='Fill-83'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
    @media all and (-ms-high-contrast: none) {
      div#control-container *::-ms-backdrop, div#control-container div#control-container {
        margin-top: 40px;
        float: none; } }
    div#control-container div#central-control-container {
      width: 50%;
      float: left; }
      div#control-container div#central-control-container div#central-controls {
        width: 130px;
        margin: auto; }
        div#control-container div#central-control-container div#central-controls div#previous {
          display: inline-block;
          width: 40px;
          height: 40px;
          cursor: pointer;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='39px' height='39px' viewBox='0 0 39 39' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EPrevious%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-482.000000, -782.000000)'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 359.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 357.000000)'%3E%3Cg id='Controls' transform='translate(114.000000, 56.000000)'%3E%3Cg id='Previous' transform='translate(0.000000, 10.000000)'%3E%3Cellipse id='Oval-1' fill='%2300A0FF' cx='19.5' cy='19.5' rx='19.5' ry='19.5'%3E%3C/ellipse%3E%3Cpath d='M16.1305538,18.2541918 L16.1305538,12.3004631 C16.1305538,11.5809953 15.5536833,11 14.8406971,11 L12.2892675,11 C11.5768706,11 11,11.5809953 11,12.3004631 L11,26.1995678 C11,26.9208033 11.5768706,27.4988524 12.2892675,27.4988524 L14.8406971,27.4988524 C15.555451,27.4988524 16.1305538,26.9208033 16.1305538,26.1995678 L16.1305538,20.245839 L27.432857,27.2478341 C28.2913865,27.8093843 28.9919985,27.3986808 28.9919985,26.3274339 L28.9919985,12.1720078 C28.993177,11.1037071 28.2913865,10.6888788 27.432857,11.2521967 L16.1305538,18.2541918 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          float: left;
          margin-top: 10px;
          margin-right: -5px; }
        div#control-container div#central-control-container div#central-controls div#play-pause {
          display: inline-block;
          width: 60px;
          height: 60px;
          cursor: pointer;
          float: left; }
          div#control-container div#central-control-container div#central-controls div#play-pause.amplitude-paused {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='60px' height='60px' viewBox='0 0 60 60' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EOval 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-515.000000, -772.000000)'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 359.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 357.000000)'%3E%3Cg id='Controls' transform='translate(114.000000, 56.000000)'%3E%3Cg id='Play/Pause' transform='translate(33.000000, 0.000000)'%3E%3Cg id='Oval-1'%3E%3Ccircle fill='%2300A0FF' cx='30' cy='30' r='30'%3E%3C/circle%3E%3Cpath d='M43.625,29.8025209 L23.646,17.4255209 C22.189,16.4735209 21,17.1725209 21,18.9875209 L21,43.0105209 C21,44.8225209 22.188,45.5285209 23.646,44.5725209 L43.625,32.1975209 C43.625,32.1975209 44.336,31.6975209 44.336,31.0005209 C44.336,30.3015209 43.625,29.8025209 43.625,29.8025209 L43.625,29.8025209 Z' id='Play' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
          div#control-container div#central-control-container div#central-controls div#play-pause.amplitude-playing {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='60px' height='60px' viewBox='0 0 60 60' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EOval 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-515.000000, -772.000000)'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 359.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 357.000000)'%3E%3Cg id='Controls' transform='translate(114.000000, 56.000000)'%3E%3Cg id='Play/Pause' transform='translate(33.000000, 0.000000)'%3E%3Cg id='Oval-1'%3E%3Ccircle fill='%2300A0FF' cx='30' cy='30' r='30'%3E%3C/circle%3E%3Cpath d='M40.587,16.61 L36.257,16.61 C35.048,16.61 34.069,17.59 34.069,18.811 L34.069,42.403 C34.069,43.624 35.048,44.61 36.257,44.61 L40.587,44.61 C41.8,44.61 42.775,43.624 42.775,42.403 L42.775,18.811 C42.783,17.595 41.8,16.61 40.587,16.61 L40.587,16.61 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M24.2,16.61 L19.872,16.61 C18.661,16.61 17.679,17.59 17.679,18.811 L17.679,42.403 C17.679,43.624 18.661,44.61 19.872,44.61 L24.2,44.61 C25.411,44.61 26.388,43.624 26.388,42.403 L26.388,18.811 C26.388,17.595 25.411,16.61 24.2,16.61 L24.2,16.61 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
        div#control-container div#central-control-container div#central-controls div#next {
          display: inline-block;
          width: 40px;
          height: 40px;
          cursor: pointer;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='39px' height='39px' viewBox='0 0 39 39' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3ENext%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-568.000000, -782.000000)'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 359.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 357.000000)'%3E%3Cg id='Controls' transform='translate(114.000000, 56.000000)'%3E%3Cg id='Next' transform='translate(86.000000, 10.000000)'%3E%3Cellipse id='Oval-1-Copy' fill='%2300A0FF' cx='19.5' cy='19.5' rx='19.5' ry='19.5'%3E%3C/ellipse%3E%3Cpath d='M27.6768636,11 L25.1308315,11 C24.4160835,11 23.8436969,11.5800341 23.8436969,12.2983117 L23.8436969,18.2421908 L12.5565622,11.250603 C11.6994529,10.6911583 11,11.1011824 11,12.1694806 L11,26.3003121 C11,27.3662571 11.6988647,27.7815757 12.5565622,27.2191897 L23.8436969,20.2293666 L23.8436969,26.1732458 C23.8436969,26.8932881 24.4196132,27.4703809 25.1308315,27.4703809 L27.6768636,27.4703809 C28.390435,27.4703809 28.9639982,26.8932881 28.9639982,26.1732458 L28.9639982,12.2983117 C28.9651747,11.5817989 28.3892585,11 27.6768636,11 L27.6768636,11 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          float: left;
          margin-top: 10px;
          margin-left: -5px; }
    div#control-container div#volume-container {
      width: 25%;
      float: left;
      padding-top: 20px; }
      div#control-container div#volume-container div#shuffle-right {
        width: 23px;
        height: 19px;
        cursor: pointer;
        margin: auto; }
        div#control-container div#volume-container div#shuffle-right.amplitude-shuffle-off {
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='23px' height='20px' viewBox='0 0 23 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EFill 83%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-637.000000, -792.000000)' fill='%23607D8B'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 359.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 357.000000)'%3E%3Cpath d='M285.614425,90.5505102 L287.682829,90.5505102 L287.682829,90.5468557 L288.319842,90.5468557 L287.645104,89.863455 C287.450012,89.6624548 287.329293,89.3883637 287.329293,89.0850361 C287.329293,88.4820355 287.811813,87.9886714 288.407148,87.9886714 C288.704636,87.9886714 288.9741,88.1129261 289.169192,88.3102717 L291.684188,90.868456 C291.87928,91.0694562 292,91.3435473 292,91.6432204 C292,91.9465479 291.87928,92.2206391 291.684188,92.4216393 L289.169192,94.9798235 C288.9741,95.1771692 288.704636,95.2977693 288.407148,95.2977693 C287.811813,95.2977693 287.329293,94.8080597 287.329293,94.2014046 C287.329293,93.9017316 287.450012,93.6276404 287.645104,93.4266402 L288.318045,92.7432396 L285.167833,92.7432396 C284.870345,92.7432396 284.600881,92.6189849 284.405789,92.4216393 L280.181673,88.1238897 L281.705761,86.574361 L285.614425,90.5505102 L285.614425,90.5505102 Z M277.132779,85.0248322 L273.224475,81.0486829 L270.077856,81.0486829 C269.482879,81.0486829 269,80.5589734 269,79.9523183 C269,79.3456631 269.482879,78.8559536 270.077856,78.8559536 L273.670707,78.8559536 C273.968555,78.8559536 274.238019,78.9802082 274.43311,79.1775539 L278.657226,83.4753034 L277.132779,85.0248322 L277.132779,85.0248322 Z M289.169192,83.2889215 C288.9741,83.4862671 288.704636,83.6068672 288.407148,83.6068672 C287.811813,83.6068672 287.329293,83.1171577 287.329293,82.5105025 C287.329293,82.2108295 287.450012,81.9367383 287.645104,81.7357381 L288.319842,81.0486829 L285.614425,81.0486829 L274.43311,92.4216393 C274.238019,92.6189849 273.968555,92.7432396 273.670707,92.7432396 L270.077856,92.7432396 C269.482879,92.7432396 269,92.25353 269,91.6468749 C269,91.0402198 269.482879,90.5505102 270.077856,90.5505102 L273.224475,90.5505102 L284.405789,79.1775539 C284.600881,78.9802082 284.870345,78.8559536 285.167833,78.8559536 L288.318045,78.8559536 L287.645104,78.1725529 C287.450012,77.9715527 287.329293,77.6974616 287.329293,77.394134 C287.329293,76.7911334 287.811813,76.2977693 288.407148,76.2977693 C288.704636,76.2977693 288.9741,76.422024 289.169192,76.6193696 L291.684188,79.1775539 C291.87928,79.3785541 292,79.6526452 292,79.9523183 C292,80.2556458 291.87928,80.529737 291.684188,80.7307372 L289.169192,83.2889215 L289.169192,83.2889215 Z' id='Fill-83'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
        div#control-container div#volume-container div#shuffle-right.amplitude-shuffle-on {
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='23px' height='20px' viewBox='0 0 23 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EFill 83%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-637.000000, -792.000000)' fill='%2300A0FF'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 359.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 357.000000)'%3E%3Cpath d='M285.614425,90.5505102 L287.682829,90.5505102 L287.682829,90.5468557 L288.319842,90.5468557 L287.645104,89.863455 C287.450012,89.6624548 287.329293,89.3883637 287.329293,89.0850361 C287.329293,88.4820355 287.811813,87.9886714 288.407148,87.9886714 C288.704636,87.9886714 288.9741,88.1129261 289.169192,88.3102717 L291.684188,90.868456 C291.87928,91.0694562 292,91.3435473 292,91.6432204 C292,91.9465479 291.87928,92.2206391 291.684188,92.4216393 L289.169192,94.9798235 C288.9741,95.1771692 288.704636,95.2977693 288.407148,95.2977693 C287.811813,95.2977693 287.329293,94.8080597 287.329293,94.2014046 C287.329293,93.9017316 287.450012,93.6276404 287.645104,93.4266402 L288.318045,92.7432396 L285.167833,92.7432396 C284.870345,92.7432396 284.600881,92.6189849 284.405789,92.4216393 L280.181673,88.1238897 L281.705761,86.574361 L285.614425,90.5505102 L285.614425,90.5505102 Z M277.132779,85.0248322 L273.224475,81.0486829 L270.077856,81.0486829 C269.482879,81.0486829 269,80.5589734 269,79.9523183 C269,79.3456631 269.482879,78.8559536 270.077856,78.8559536 L273.670707,78.8559536 C273.968555,78.8559536 274.238019,78.9802082 274.43311,79.1775539 L278.657226,83.4753034 L277.132779,85.0248322 L277.132779,85.0248322 Z M289.169192,83.2889215 C288.9741,83.4862671 288.704636,83.6068672 288.407148,83.6068672 C287.811813,83.6068672 287.329293,83.1171577 287.329293,82.5105025 C287.329293,82.2108295 287.450012,81.9367383 287.645104,81.7357381 L288.319842,81.0486829 L285.614425,81.0486829 L274.43311,92.4216393 C274.238019,92.6189849 273.968555,92.7432396 273.670707,92.7432396 L270.077856,92.7432396 C269.482879,92.7432396 269,92.25353 269,91.6468749 C269,91.0402198 269.482879,90.5505102 270.077856,90.5505102 L273.224475,90.5505102 L284.405789,79.1775539 C284.600881,78.9802082 284.870345,78.8559536 285.167833,78.8559536 L288.318045,78.8559536 L287.645104,78.1725529 C287.450012,77.9715527 287.329293,77.6974616 287.329293,77.394134 C287.329293,76.7911334 287.811813,76.2977693 288.407148,76.2977693 C288.704636,76.2977693 288.9741,76.422024 289.169192,76.6193696 L291.684188,79.1775539 C291.87928,79.3785541 292,79.6526452 292,79.9523183 C292,80.2556458 291.87928,80.529737 291.684188,80.7307372 L289.169192,83.2889215 L289.169192,83.2889215 Z' id='Fill-83'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
    div#control-container div.amplitude-mute {
      cursor: pointer;
      width: 25px;
      height: 19px;
      float: left; }
      div#control-container div.amplitude-mute.amplitude-volume {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='19px' viewBox='0 0 25 19' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Evolume-2%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs/%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-620.000000, -882.000000)' stroke-width='2' stroke='%23607D8B'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000, 454.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000, 352.000000)'%3E%3Cg id='Volume' transform='translate(253.000000, 77.000000)'%3E%3Cg id='Active,-no-hover'%3E%3Cg id='volume-2'%3E%3Cpolygon id='Shape' points='10.35 0.15 4.6 4.75 0 4.75 0 11.65 4.6 11.65 10.35 16.25'/%3E%3Cpath d='M19.6305,0.0695 C24.1198923,4.56024829 24.1198923,11.8397517 19.6305,16.3305 M15.571,4.129 C17.8156961,6.37437415 17.8156961,10.0141259 15.571,12.2595' id='Shape'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat; }
      div#control-container div.amplitude-mute.amplitude-muted {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='18px' viewBox='0 0 25 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Evolume-x%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='05.100.00-OpenSource-Amplitude' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='HD_05.100.00-521Website_OpenSource-Amplitude' transform='translate(-620.000000  -882.000000)' stroke-width='2' stroke='%23607D8B'%3E%3Cg id='Lead-in'%3E%3Cg id='Player' transform='translate(368.000000  454.000000)'%3E%3Cg id='Controllers/Status/Info' transform='translate(0.000000  352.000000)'%3E%3Cg id='Volume' transform='translate(253.000000  77.000000)'%3E%3Cg id='Mute'%3E%3Cg id='volume-x'%3E%3Cpolygon id='Shape' points='9.85714286 0 4.38095238 4.38095238 0 4.38095238 0 10.952381 4.38095238 10.952381 9.85714286 15.3333333'%3E%3C/polygon%3E%3Cpath d='M23 4.38095238 L16.4285714 10.952381' id='Shape'%3E%3C/path%3E%3Cpath d='M16.4285714 4.38095238 L23 10.952381' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat; }
  
  div#control-container:after {
    content: "";
    display: table;
    clear: both; }
  
  /* Small only */
  @media screen and (max-width: 39.9375em) {
    div#amplitude-player div#repeat-container div#repeat {
      margin-left: auto;
      margin-right: auto;
      float: none; }
    div#amplitude-player div#repeat-container div#shuffle {
      display: none; }
    div#amplitude-player div#volume-container div.volume-controls {
      display: none; }
    div#amplitude-player div#volume-container div#shuffle-right {
      display: block; } }
  /* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    div#amplitude-player div#repeat-container div#repeat {
      margin-left: auto;
      margin-right: auto;
      float: none; }
    div#amplitude-player div#repeat-container div#shuffle {
      display: none; }
    div#amplitude-player div#volume-container div.volume-controls {
      display: none; }
    div#amplitude-player div#volume-container div#shuffle-right {
      display: block; } }
  /* Large and up */
  @media screen and (min-width: 64em) {
    div#amplitude-player div#repeat-container div#repeat {
      margin-left: 10px;
      margin-right: 20px;
      float: left; }
    div#amplitude-player div#volume-container div#shuffle-right {
      display: none; } }
  input[type=range].amplitude-volume-slider {
    -webkit-appearance: none;
    width: calc( 100% - 33px);
    float: left;
    margin-top: 10px;
    margin-left: 5px; }
  
  @-moz-document url-prefix() {
    input[type=range].amplitude-volume-slider {
      margin-top: 0px; } }
  @supports (-ms-ime-align: auto) {
    input[type=range].amplitude-volume-slider {
      margin-top: 3px;
      height: 12px;
      background-color: rgba(255, 255, 255, 0) !important;
      z-index: 999;
      position: relative; }
  
    div.ms-range-fix {
      height: 1px;
      background-color: #A9A9A9;
      width: 67%;
      float: right;
      margin-top: -6px;
      z-index: 9;
      position: relative; } }
  @media all and (-ms-high-contrast: none) {
    *::-ms-backdrop, input[type=range].amplitude-volume-slider {
      margin-top: -24px;} }
  input[type=range].amplitude-volume-slider:focus {
    outline: none; }
  
  input[type=range].amplitude-volume-slider::-webkit-slider-runnable-track {
    width: 75%;
    height: 1px;
    cursor: pointer;
    background: #CFD8DC; }
  
  input[type=range].amplitude-volume-slider::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #00A0FF;
    cursor: pointer;
    margin-top: -4px;
    -webkit-appearance: none; }
  
  input[type=range].amplitude-volume-slider:focus::-webkit-slider-runnable-track {
    background: #CFD8DC; }
  
  input[type=range].amplitude-volume-slider::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #CFD8DC; }
  
  input[type=range].amplitude-volume-slider::-moz-range-thumb {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #00A0FF;
    cursor: pointer;
    margin-top: -4px; }
  
  input[type=range].amplitude-volume-slider::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 15px 0;
    /*remove default tick marks*/
    color: transparent; }
  
  input[type=range].amplitude-volume-slider::-ms-fill-lower {
    background: #CFD8DC;
    border-radius: 10px; }
  
  input[type=range].amplitude-volume-slider::-ms-fill-upper {
    background: #CFD8DC;
    border-radius: 10px; }
  
  input[type=range].amplitude-volume-slider::-ms-thumb {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #00A0FF;
    cursor: pointer;
    margin-top: 2px; }
  
  input[type=range].amplitude-volume-slider:focus::-ms-fill-lower {
    background: #CFD8DC; }
  
  input[type=range].amplitude-volume-slider:focus::-ms-fill-upper {
    background: #CFD8DC; }
  
  input[type=range].amplitude-volume-slider::-ms-tooltip {
    display: none; }
  
  div#time-container span.current-time {
    color: #607D8B;
    font-size: 14px;
    font-weight: 700;
    float: left;
    width: 15%;
    text-align: center; }
  div#time-container span.duration {
    color: #607D8B;
    font-size: 14px;
    font-weight: 700;
    float: left;
    width: 15%;
    text-align: center; }
  
  div#time-container:after {
    content: "";
    display: table;
    clear: both; }
  
  div#meta-container {
    text-align: center;
    margin-top: 5px; }
    div#meta-container span.song-name {
      display: block;
      color: #272726;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    div#meta-container div.song-artist-album {
      color: #607D8B;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      div#meta-container div.song-artist-album span {
        display: block; }
  
  /*
    3. Layout
  */
  body {
    background-image: -webkit-linear-gradient(316deg, #3BD2AE 0%, #36BAC2 100%);
    background-image: linear-gradient(-226deg, #3BD2AE 0%, #36BAC2 100%);
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5; }
  div.amplitude-wave-form{
      margin-top: -14px;
  }
        
   div.amplitude-wave-form svg{
        stroke: #00a0ff;
        height: 50px;
        width: 100%;
        stroke-width: .5px;
  }
   div.amplitude-wave-form svg g{
     stroke: #00a0ff;
     height: 50px;
     width: 100%;
  }
   div.amplitude-wave-form svg g path{
     stroke: #00a0ff;
     height: 50px;
     width: 100%;
  }
  
  div#large-visualization{
      width: 100%;
      background-color: black;
      visibility: hidden;
    }